* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@import './medias.scss';
@import './common.scss';
@import './modal.scss';
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './auth.scss';
@import './cardNumber.scss';
@import './request.scss';